.btn-style {
  &-primary {
    color: $primary-white !important;
  }
}

.product-card-subtitle {
  color: #c4c4c4;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 0.625rem;
}
